<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <section class="page-form-ele page" >
    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">Programar una Agenda </h2>
        </div>
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div layout="column" class="md-inline-form inputdemoBasicUsage">
       <form name="scheludeTaskForm" ><!--ng-controller=""-->
           <!--de aqui -->
          <div layout layout-sm="column">
    <md-input-container class="flex">
      <label>Selecciona un Servicios</label>
      <md-select id="service_id" name="service_id" ng-model="schedule.service_id" required>
               <md-option value="{{v.id}}" ng-repeat="v in services.data">
             {{v.title}}
               </md-option>
            </md-select>
             <div ng-messages="scheludeTaskForm.service_id.$error" multiple ng-if='scheludeTaskForm.service_id.$dirty'>
                <div ng-message="required">Este campo es requerido.</div>
            </div>
    </md-input-container>
  </div>
  <!--hasta aqui-->
  <md-content  layout-padding ng-cloak><!--tener encuenta controlador-->
 <div layout-gt-xs="row">
    <div flex-gt-xs>
      <h4>Fecha inicial</h4>
       <mdp-date-picker mdp-placeholder="Inicia" ng-model="currentDateInitial"></mdp-date-picker>
       </div>
 
    <div flex-gt-xs>
      <h4>Fecha Final</h4>
      <mdp-date-picker mdp-placeholder="Termina" ng-model="currentDateFinal"></mdp-date-picker>
       </div>
    </div>
</md-content><br/>

    <div layout layout-sm="column">
        <md-input-container flex="" class="flex">
            <label>Observacion</label>
            <textarea ng-model="schedule.observation" columns="1" md-maxlength="150" required></textarea>
            <div ng-messages="Schelude-task.observation.$error" multiple ng-if='scheludeTaskForm.observation.$dirty'>
                <div ng-message="required">Este campo es requerido.</div>
            </div>
        </md-input-container>

    </div>
            <div class="divider divider-lg divider-dashed"></div>
           <div class="section-header">
           <h4>Repetir Días</h4>
            </div>
 
 
 <!--**********************************-->
 <md-content  layout-padding ng-cloak>
        <div class="col-md-12">
         <md-checkbox-group ng-model="data.group12">
         <div layout="row" layout-wrap flex>
         <div flex="100%">
      <md-checkbox value="chkLunes" class="md-primary"><span class="ng-scope">Lunes </span></md-checkbox>
      <md-checkbox value="chkMartes" class="md-primary"><span class="ng-scope">Martes</span></md-checkbox>
      <md-checkbox value="chkMiercoles" class="md-primary"><span class="ng-scope">Miércoles</span></md-checkbox>
      </div>

      <div flex="100 %">
      <md-checkbox value="chkJueves" class="md-primary"><span class="ng-scope">Jueves</span></md-checkbox>
      <md-checkbox value="chkViernes" class="md-primary"><span class="ng-scope">Viernes</span></md-checkbox>
      <md-checkbox value="chkSabado" class="md-primary"><span class="ng-scope">Sábado</span></md-checkbox>
      </div>                                                          
      </div>
      </md-checkbox-group>
      </div> 
      </md-content>
 <!--**********************************-->
 <!--/////////////////////////////////////////-->
 <div layout-gt-xs="row">
      <div layout-gt-xs>
 <mdp-time-picker mdp-placeholder="Hora Inicial" ng-model="currentTimeInitial"></mdp-time-picker>
  <mdp-time-picker mdp-placeholder="Hora Final" ng-model="currentTimeFinal"></mdp-time-picker>
      </div>
 </div>
 <!--/////////////////////////////////////////-->
           
  <div class="divider divider-lg divider-dashed"></div>
            <div layout layout-sm="column">
                    <button ng-disabled="!pollAnswer.$valid" ng-click="save()" class="md-raised btn-w-md md-accent md-button md-ink-ripple" type="button" aria-label="Guardar">
                         <span class="ng-scope">Guardar</span>
                         <div class="md-ripple-container"></div>
                   </button> &nbsp;&nbsp;&nbsp;
                  
                   <button ng-click="cancel()" class="md-raised btn-w-md md-warn md-button md-ink-ripple" type="button" aria-label="Cancelar">
                          <span class="ng-scope">Cancelar</span>
                          <div class="md-ripple-container"></div>
                   </button>
             </div>
</form>
 </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

        
    </body>
</html>







{{title}}