<form name="pollForm" ng-controller="PollsFormCtrl">
  <div layout layout-sm="column">
    <md-input-container flex>
      <label>Titulo de la encuesta</label>
      <input required name="title" id="title" , ng-model="poll.title"  md-maxlength="45">
      <div ng-messages="pollForm.title.$error" multiple ng-if="pollForm.title.$dirty">
        <div ng-message="required">Este campo es requerido.</div>
      </div>
    </md-input-container>
  </div>

  <div layout layout-sm="column">
    <md-input-container flex>
      <label>Descripción de la encuesta</label>
      <textarea required name="description" id="description" columns="1" ng-model="poll.description" md-maxlength="45"></textarea>
      <div ng-messages="pollForm.description.$error" multiple ng-if="pollForm.description.$dirty">
        <div ng-message="required">Este campo es requerido.</div>
      </div>
    </md-input-container>
  </div>




 <div layout layout-sm="column">
    <md-input-container class="md-block">
      <label>Tipo de encuesta</label>
      <md-select id="poll_types_id" name="poll_types_id" ng-model="poll.poll_types_id" required>
        <md-option value="{{v.id}}" ng-repeat="v in pollType.data">
          {{v.title}}
        </md-option>
      </md-select>
      <div ng-messages="pollForm.poll_types_id.$error">
        <div ng-message="required">Este campo es requerido.</div>
      </div>
    </md-input-container>
  </div>

  <div layout layout-sm="column">
    <button ng-click="save()" ng-disabled="!pollForm.$valid"  class="md-raised btn-w-md md-accent md-button md-ink-ripple" type="button" aria-label="Guardar">
                        <span class="ng-scope">Guardar</span>
                        <div class="md-ripple-container"></div>
                        </button> &nbsp;&nbsp;&nbsp;
    <button ng-click="cancel()" class="md-raised btn-w-md md-warn md-button md-ink-ripple" type="button" aria-label="Cancelar">
                        <span class="ng-scope">Cancelar</span>
                         <div class="md-ripple-container"></div>
                        </button>
  </div>
</form>