<section class="page-form-ele page">
    <div class="row ui-section">
        <div class="col-lg-8 clearflix">
            <h2 class="section-header">Editar Variable de Riesgo</h2>
        </div>
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div layout="column" class="md-inline-form inputdemoBasicUsage">
                                <div layout-padding>
                                    <div class="col-md-12" ng-include="formUrl">
                                    </div>    
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

