<div class="page page-table" ng-controller="PollTypesIndexCtrl">
    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">Encuestas: Tipo</h2>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table no-margin">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Titulo</th>
                                <th>Descripción</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr ng-if="pollTypesList.data.length < 1">
                            <td colspan="4">
                                No se encontraron tipos de encuesta!
                            </td>
                        </tr>                        
                            <tr ng-repeat="item in pollTypesList.data">
                                <td>{{item.id}}</td>
                                <td>{{item.title}}</td>
                                <td>{{item.description}}</td>
                                <td>
                                    <button class="md-secondary-container md-icon-button md-button md-ink-ripple" type="button" aria-label="Chat">
                                        <md-icon class="zoom-icon zoom-blue zmdi zmdi-edit ng-scope material-icons" tabindex="-1" aria-hidden="true"></md-icon>
                                        <div class="md-ripple-container"></div>
                                    </button>
                                    <button class="md-secondary-container md-icon-button md-button md-ink-ripple" type="button" aria-label="Chat">
                                        <md-icon class="zoom-icon zmdi zmdi-delete" tabindex="1" aria-hidden="md-ripple-container"></md-icon>
                                        <md-icon class="zoom-icon zmdi zmdi-delete ng-scope material-icons" tabindex="-1" aria-hidden="true"></md-icon>
                                        <div class="md-ripple-container"></div>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <a ng-if="pollTypesList.next_page_url !== null" href="{{ pollTypesList.next}}">Next</a>
                </div>
            </div>
        </div>
    </div>
</div>