<div class="nav-wrapper">

    <ul id="nav" class="nav" data-slim-scroll data-collapse-nav data-highlight-active>

        <li class="nav-title"> <span data-translate="NAVIGATION"></span> </li>
        <li><a md-button aria-label="meanu" href="#/dashboard"><i class="zmdi zmdi-home"></i><span data-translate="DASHBOARD"></span> </a></li>
        <li>
            <a md-button aria-label="meanu" href="#/ui"><i class="zmdi zmdi-card-giftcard"></i><span><span data-translate="MATERIAL"></span> UI</span></a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/ui/typography"><i class="fa fa-circle"></i><span data-translate="TYPOGRAPHY"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/ui/buttons"><i class="fa fa-circle"></i><span data-translate="BUTTONS"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/ui/icons"><i class="fa fa-circle"></i><span data-translate="ICONS"></span> <span class="badge badge-info">3</span></a></li>
                <li><a md-button aria-label="meanu" href="#/ui/lists"><i class="fa fa-circle"></i><span data-translate="LISTS"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/ui/components"><i class="fa fa-circle"></i><span data-translate="COMPONENTS"></span> <span class="badge badge-danger">24</span></a></li>
                <li><a md-button aria-label="meanu" href="#/ui/cards"><i class="fa fa-circle"></i><span data-translate="CARDS"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/ui/pricing-tables"><i class="fa fa-circle"></i><span data-translate="PRICING_TABLES"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/ui/timeline"><i class="fa fa-circle"></i><span data-translate="TIMELINE"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/map/maps"><i class="fa fa-circle"></i><span data-translate="MAPS"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/ui/grids"><i class="fa fa-circle"></i><span data-translate="GRIDS"></span></a></li>
            </ul>
        </li>
        <li>
            <a md-button aria-label="meanu" href="#/page"><i class="zmdi zmdi-pages"></i><span data-translate="PAGES"></span></a>
            <ul>
                <li><a md-button aria-label="meanu" target="_blank" href="http://localhost/webstripper/angular124/landing/index.html"><i class="fa fa-circle"></i><span data-translate="LANDING_PAGE"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/page/signin"><i class="fa fa-circle"></i><span data-translate="SIGN_IN"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/page/signup"><i class="fa fa-circle"></i><span data-translate="SIGN_UP"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/page/forgot-password"><i class="fa fa-circle"></i><span data-translate="FORGOT_PASSWORD"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/page/profile"><i class="fa fa-circle"></i><span data-translate="USER_PROFILE"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/page/invoice"><i class="fa fa-circle"></i><span data-translate="INVOICE"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/page/404"><i class="fa fa-circle"></i>404 <span data-translate="ERROR"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/page/500"><i class="fa fa-circle"></i>500 <span data-translate="ERROR"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/page/blank"><i class="fa fa-circle"></i><span data-translate="BLANK_PAGE"></span></a></li>
            </ul>
        </li>
        <li>
            <a md-button aria-label="meanu" href="#/table"><i class="zmdi zmdi-view-list"></i><span data-translate="TABLES"></span></a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/table/static"><i class="fa fa-circle"></i><span data-translate="STATIC_TABLES"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/table/responsive"><i class="fa fa-circle"></i><span data-translate="RESPONSIVE_TABLES"></span> <span class="badge badge-info">2</span></a></li>
                <li><a md-button aria-label="meanu" href="#/table/dynamic"><i class="fa fa-circle"></i><span data-translate="DYNAMIC_TABLES"></span></a></li>
            </ul>
        </li>
        <li>
            <a md-button aria-label="meanu" href="#/form"><i class="zmdi zmdi-edit"></i><span data-translate="FORMS"></span></a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/form/elements"><i class="fa fa-circle"></i><span data-translate="FORM_ELEMENTS"></span> <span class="badge badge-info">15</span></a></li>
                <li><a md-button aria-label="meanu" href="#/form/validation"><i class="fa fa-circle"></i><span data-translate="FORM_VALIDATION"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/form/wizard"><i class="fa fa-circle"></i><span data-translate="FORM_WIZARD"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/form/layouts"><i class="fa fa-circle"></i><span data-translate="FORM_LAYOUTS"></span></a></li>
            </ul>
        </li>
        <li>
            <a md-button aria-label="meanu" href="#/chart"><i class="zmdi zmdi-chart"></i><span data-translate="CHARTS"></span></a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/chart/echarts-line"><i class="fa fa-circle"></i>ECharts - <span data-translate="LINE"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/chart/echarts-bar"><i class="fa fa-circle"></i>ECharts - <span data-translate="BAR"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/chart/echarts-pie"><i class="fa fa-circle"></i>ECharts - <span data-translate="PIE"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/chart/echarts-scatter"><i class="fa fa-circle"></i>ECharts - <span data-translate="SCATTER"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/chart/echarts-more"><i class="fa fa-circle"></i>ECharts - <span data-translate="MORE"></span></a></li>
            </ul>
        </li>
        <li class="nav-divider"></li>
        <li class="nav-title"> <span data-translate="FEATURES"></span> </li>
        <li class="li-small"><a href="#/ui/components"><i class="fa fa-circle color-info"></i> <span data-translate="MATERIAL_COMPO"></span></a></li>
        <li class="li-small"><a href="#/form/elements"><i class="fa fa-circle color-success"></i> <span data-translate="MATERIAL_ELEMENTS"></span></a></li>
        <li class="li-small"><a href="#/ui/icons"><i class="fa fa-circle color-danger"></i> <span data-translate="MATERIAL_ICONS"></span></a></li>
        <li class="li-small"><a href="#/test/page"><i class="fa fa-circle color-danger"></i> <span>Test Page</span></a></li>

        <li class="li-small"><a href="#/example/page"><i class="fa fa-circle color-danger"></i> <span>Example Page</span></a></li>

        <li class="nav-title"> <span data-translate="POLLS_MENU"></span> </li>
        <li>
            <a md-button aria-label="meanu" href="#/modules/polls"><i class="zmdi zmdi-view-list"></i><span data-translate="POLLS_ANSWERS"></span></a>
            <ul>

                <li><a md-button aria-label="meanu" href="#/polls/pollsanswer"><i class="fa fa-circle"></i><span data-translate="POLLS_ANSWERS_INDEX"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/polls/show"><i class="fa fa-circle"></i><span data-translate="POLLS_ANSWERS_SHOW"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/polls/pollsanswer/create"><i class="fa fa-circle"></i><span data-translate="POLLS_ANSWERS_FORM"></span></a></li>

                <li><a md-button aria-label="meanu" href="#/polls/poll-answer"><i class="fa fa-circle"></i><span data-translate="POLLS_ANSWERS_INDEX"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/modules/polls/poll-answer/poll-answer-show"><i class="fa fa-circle"></i><span data-translate="POLLS_ANSWERS_SHOW"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/polls/poll-answer/create"><i class="fa fa-circle"></i><span data-translate="POLLS_ANSWERS_FORM"></span></a></li>

            </ul>

        </li>

        <li>
            <a md-button aria-label="meanu" href="#/modules/polls/poll"><i class="zmdi zmdi-view-list"></i><span data-translate="POLL"></span></a>

            <ul>
                <li><a md-button aria-label="meanu" href="#/modules/polls/poll/polls-index"><i class="fa fa-circle"></i><span data-translate="POLLS_INDEX"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/modules/polls/poll/polls-show"><i class="fa fa-circle"></i><span data-translate="POLLS_SHOW"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/modules/polls/poll/polls-form"><i class="fa fa-circle"></i><span data-translate="POLLS_FORM"></span></a></li>

            </ul>

        </li>

        <li>
            <a md-button aria-label="meanu" href="#//modules/polls/poll-items/views"><i class="zmdi zmdi-view-list"></i><span data-translate="POLL_ITEM"></span></a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/modules/polls/poll-items/index"><i class="fa fa-circle"></i><span data-translate="POLL_ITEM_INDEX"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/modules/polls/poll-item/poll-item-show"><i class="fa fa-circle"></i><span data-translate="POLL_ITEM_SHOW"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/modules/polls/poll-items/create"><i class="fa fa-circle"></i><span data-translate="POLL_ITEM_FORM"></span></a></li>
            </ul>

        </li>
        <li>
            <a md-button aria-label="meanu" href="#/modules/polls/poll-questions/views"><i class="zmdi zmdi-view-list"></i><span data-translate="POLL-QUESTION"></span></a>

            <ul>
                <li><a md-button aria-label="meanu" href="#/modules/polls/poll-questions/index"><i class="fa fa-circle"></i><span data-translate="POLL_QUESTION_INDEX"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/modules/polls/poll-question/poll-question-show"><i class="fa fa-circle"></i><span data-translate="POLL_QUESTION_SHOW"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/modules/polls/poll-questions/create"><i class="fa fa-circle"></i><span data-translate="POLL_QUESTION_FORM"></span></a></li>
            </ul>

        </li>

        <li>
            <a md-button aria-label="meanu" href="#/modules/polls/poll-subquestions/views"><i class="zmdi zmdi-view-list"></i><span data-translate="POLL-SUBQUESTION"></span></a>

            <ul>
                <li><a md-button aria-label="meanu" href="#/modules/polls/poll-subquestions/index"><i class="fa fa-circle"></i><span data-translate="POLL_SUBQUESTION_INDEX"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/modules/polls/poll-subquestion/poll-subquestion-show"><i class="fa fa-circle"></i><span data-translate="POLL_SUBQUESTION_SHOW"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/modules/polls/poll-subquestions/create"><i class="fa fa-circle"></i><span data-translate="POLL_SUBQUESTION_FORM"></span></a></li>
            </ul>
        </li>


        <li>
            <a md-button aria-label="meanu" href="#/modules/polls/poll-question-types/views"><i class="zmdi zmdi-view-list"></i><span data-translate="POLL-QUESTION-TYPE"></span></a>

            <ul>
                <li><a md-button aria-label="meanu" href="#/modules/polls/poll-question-types/index"><i class="fa fa-circle"></i><span data-translate="POLL_QUESTION_TYPE_INDEX"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/modules/polls/poll-question-type/poll-question-type-show"><i class="fa fa-circle"></i><span data-translate="POLL_QUESTION_TYPE_SHOW"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/modules/polls/poll-question-types/create"><i class="fa fa-circle"></i><span data-translate="POLL_QUESTION_TYPE_FORM"></span></a></li>

            </ul>

        </li>

        <li>
            <a md-button aria-label="meanu" href="#/modules/polls/poll-types/views"><i class="zmdi zmdi-view-list"></i><span data-translate="POLLS-TYPES"></span></a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/modules/polls/poll-types/index"><i class="fa fa-circle"></i><span data-translate="POLLS_TYPES_INDEX"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/modules/polls/poll-types/poll-types-show"><i class="fa fa-circle"></i><span data-translate="POLLS_TYPES_SHOW"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/modules/polls/poll-types/create"><i class="fa fa-circle"></i><span data-translate="POLLS_TYPES_FORM"></span></a></li>
            </ul>

        </li>
        <li>
            <a md-button aria-label="meanu" href="#/modules/polls/poll-campaing/views"><i class="zmdi zmdi-view-list"></i><span data-translate="POLLS-CAMPAING"></span></a>
            <ul>
                <li>
                    <a md-button aria-label="meanu" href="#/modules/polls/poll-campaing/index">
                        <i class="fa fa-circle"></i>
                        <span data-translate="POLLS_CAMPAING_INDEX"></span>
                    </a>
                </li>
                <li><a md-button aria-label="meanu" href="#/modules/polls/poll-campaing/poll-campaing-show"><i class="fa fa-circle"></i><span data-translate="POLLS_CAMPAING_SHOW"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/modules/polls/poll-campaing/create"><i class="fa fa-circle"></i><span data-translate="POLLS_CAMPAING_FORM"></span></a></li>

            </ul>

        </li>

        <li class="nav-title"> <span data-translate="DIARY"></span> </li>
        <li>
            <a md-button aria-label="meanu" href="#/modules/agenda/days/views"><i class="zmdi zmdi-view-list"></i><span data-translate="DIARY_DAYS"></span></a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/agenda/days"><i class="fa fa-circle"></i><span data-translate="DIARY_DAYS_INDEX"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/agenda/show"><i class="fa fa-circle"></i><span data-translate="DIARY_DAYS_SHOW"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/agenda/days/create"><i class="fa fa-circle"></i><span data-translate="DIARY_DAYS_FORM"></span></a></li>

            </ul>

        </li>
        <li>
            <a md-button aria-label="meanu" href="#/modules/agenda/phenomena/views"><i class="zmdi zmdi-view-list"></i><span data-translate="PHENOMENA"></span></a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/agenda/phenomena"><i class="fa fa-circle"></i><span data-translate="DIARY_PHENOMENA_INDEX"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/agenda/show"><i class="fa fa-circle"></i><span data-translate="DIARY_PHENOMENA_SHOW"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/agenda/phenomena/create"><i class="fa fa-circle"></i><span data-translate="DIARY_PHENOMENA_FORM"></span></a></li>

            </ul>

        </li>
        <li>
            <a md-button aria-label="meanu" href="#//modules/agenda/service/views"><i class="zmdi zmdi-view-list"></i><span data-translate="SERVICES"></span></a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/agenda/service"><i class="fa fa-circle"></i><span data-translate="DIARY_SERVICES_INDEX"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/agenda/show"><i class="fa fa-circle"></i><span data-translate="DIARY_SERVICES_SHOW"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/agenda/service/create"><i class="fa fa-circle"></i><span data-translate="DIARY_SERVICES_FORM"></span></a></li>

            </ul>

        </li>
        <li>
            <a md-button aria-label="meanu" href="#/modules/agenda/period/views"><i class="zmdi zmdi-view-list"></i><span data-translate="PERIODS"></span></a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/agenda/period"><i class="fa fa-circle"></i><span data-translate="DIARY_PERIODS_INDEX"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/agenda/show"><i class="fa fa-circle"></i><span data-translate="DIARY_PERIODS_SHOW"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/agenda/period/create"><i class="fa fa-circle"></i><span data-translate="DIARY_PERIODS_FORM"></span></a></li>

            </ul>

        </li>
        <li>
            <a md-button aria-label="meanu" href="#/modules/agenda/hour/views"><i class="zmdi zmdi-view-list"></i><span data-translate="HOURS"></span></a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/agenda/hour"><i class="fa fa-circle"></i><span data-translate="DIARY_HOURS_INDEX"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/agenda/show"><i class="fa fa-circle"></i><span data-translate="DIARY_HOURS_SHOW"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/agenda/hour/create"><i class="fa fa-circle"></i><span data-translate="DIARY_HOURS_FORM"></span></a></li>

            </ul>

        </li>


         
        <li class="nav-title"> <span data-translate="USER_MANUAL_MENU"></span> </li>
        <li><a md-button aria-label="meanu" href="#/user-manual/user-manual-index"><i class="zmdi zmdi-home"></i><span data-translate="USER_MANUAL_INDEX_MENU"></span> </a></li>
        <li><a md-button aria-label="meanu" href="#/user-manual/user-manual-polls-create-poll"><i class="zmdi zmdi-comment-image"></i><span data-translate="USER_MANUAL_CREATE_POLL_MENU"></span> </a></li>

        <li class="nav-title"> <span data-translate="HEALTH_HISTORY_MENU"></span> </li>
       
        <li><a md-button aria-label="meanu" href="#/health-history/health-history"><i class="zmdi zmdi-comment-image"></i><span>Prt Historia Clinica</span> </a></li>
        <li><a md-button aria-label="meanu" href="#/poll-graduate/poll-graduate-index"><i class="zmdi zmdi-comment-image"></i><span>Prt Encuesta Egresados</span> </a></li>
        <li><a md-button aria-label="meanu" href="#/blog/author"><i class="zmdi zmdi-comment-image"></i><span>Listado de Autores del Blog</span> </a></li>


    </ul>
</div>