<div class="page">
    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">Encuestas: Campaña #1</h2>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default panel-minimal">
                                <div class="panel-heading"><b>Maximo de Preguntas</b></div>
                                <div class="panel-body">
                                    <p><b>14</b></p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default panel-minimal">
                                <div class="panel-heading"><b>Tiempo Inicial</b></div>
                                <div class="panel-body">
                                  <p>2017-12-02</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default panel-minimal">
                                <div class="panel-heading"><b>Tiempo Final</b></div>
                                <div class="panel-body">
                                    <p>2017-12-02</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>