<form name="pollSubquestionsForm" ng-controller="PollSubquestionsFormCtrl">

  <div layout layout-sm="column">
    <md-input-container class="md-block">
      <label>Pregunta</label>
      <md-select id="question_id" name="question_id" ng-model="pollSubquestion.question_id" required>
        <md-option value="{{v.id}}" ng-repeat="v in questions.data">
          {{v.title}}
        </md-option>
      </md-select>
      <div ng-messages="pollSubquestionsForm.question_id.$error">
        <div ng-message="required">Este campo es requerido.</div>
      </div>
    </md-input-container>
  </div>


  <div layout layout-sm="column">
    <md-input-container flex>
      <label>Titulo</label>
      <input required name="title" id="title" , ng-model="pollSubquestion.title" md-maxlength="45">
      <div ng-messages="pollSubquestionsForm.title.$error" multiple ng-if="pollSubquestionsForm.title.$dirty">
        <div ng-message="required">Este campo es requerido.</div>
      </div>
    </md-input-container>
  </div>

  <div layout layout-sm="column">
    <md-input-container flex>
      <label>Descripción</label>
      <textarea required name="description" id="description" columns="1" ng-model="pollSubquestion.description" md-maxlength="45"></textarea>
      <div ng-messages="pollSubquestionsForm.description.$error" multiple ng-if="pollSubquestionsForm.description.$dirty">
        <div ng-message="required">Este campo es requerido.</div>
      </div>
    </md-input-container>
  </div>



  <div layout layout-sm="column">
    <button ng-click="save()" ng-disabled="!pollSubquestionsForm.$valid" class="md-raised btn-w-md md-accent md-button md-ink-ripple"
      type="button" aria-label="Guardar">
                 <span class="ng-scope">Guardar</span>
                  <div class="md-ripple-container"></div>
                  </button> &nbsp;&nbsp;&nbsp;
    <button ng-click="cancel()" class="md-raised btn-w-md md-warn md-button md-ink-ripple" type="button" aria-label="Cancelar">
                  <span class="ng-scope">Cancelar</span>
                   </button>
    <div class="md-ripple-container"></div>
  </div>
</form>