<style class="cp-pen-styles">
    .dx-scheduler-work-space-week .dx-scheduler-appointment-content {
        font-size: 12px;
    }

    .dx-scheduler-work-space .dx-scheduler-header-panel-cell {
        font-size: 12px;
    }
</style>

<div class="page">

    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">{{title}}</h2>
        </div>
        <div class="col-md-12">
            <div class="dx-viewport demo-container">
                <div dx-scheduler="options"></div>
            </div>
        </div>
    </div>
</div>
