<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div class="page" ng-controller="BlogAuthorsEditCtrl">

    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">Crear Autor</h2>
        </div>
        <div class="col-md-12" ng-include="formUrl">

        </div>


         <div layout layout-sm="colum">
            <md-button class="md-raised btn-w-md md-primary" ng-click="save()">Agregar Autor</md-button>
            <div class="space"></div>
          
         </div>


    </div>
</div>

</body>
</html>