<form name="recordForm" ng-controller="HealthRecordDimensionFormCtrl">


    <div layout layout-sm="column">
        <md-input-container class="flex">
            <label>Registro</label>
            <md-select id="record_id" name="record_id" ng-model="record_dimension.record_id" required>
                <md-option value="1">
                    <p>Registro1</p>
                </md-option>
            </md-select>
             <div ng-messages="recordForm.record_id.$error" >
                <div ng-message="required">Este campo es requerido.</div>
            </div>
        </md-input-container>
    </div>

     <div layout layout-sm="column">
        <md-input-container class="flex">
            <label>Dimension</label>
            <md-select id="dimension_id" name="dimension_id" ng-model="record_dimension.dimension_id" required>
                <md-option value="{{v.id}}" ng-repeat="v in dimensions.data">
                    {{v.title}}
                </md-option>
            </md-select>
             <div ng-messages="recordForm.dimension_id.$error" >
                <div ng-message="required">Este campo es requerido.</div>
            </div>
        </md-input-container>
    </div>




      <div layout layout-sm="column">
        <md-input-container flex>
            <label>Observaciones</label>
            <input ng-model="record_dimension.observations" name="observations" required>
            <div ng-messages="recordForm.observations.$error" multiple ng-if='recordForm.observations.$dirty'>
                <div ng-message="required">Este campo es requerido.</div>
            </div>

        </md-input-container>
    </div>

    
      <div layout layout-sm="column">
        <md-input-container flex="" class="flex">
            <label>Valor</label>
            <input type="number" ng-model="record_dimension.value" columns="1" required></input>
            
        </md-input-container>

    </div>


  

        <div layout layout-sm="colum">
        <md-button class="md-raised btn-w-md md-primary" ng-disabled="!recordForm.$valid" ng-click="save()">Guardar</md-button>
        <div class="space"></div>
        <button ng-click="cancel()" class="md-raised btn-w-md md-warn md-button md-ink-ripple" type="button" aria-label="Cancelar">
                                                    <span class="ng-scope">Cancelar</span>
                                                    <div class="md-ripple-container"></div>
                                                </button>
    </div>
</form>