<form name="riskvariablesForm" ng-controller="RiskVariablesFormCtrl">
    <div layout layout-sm="column">
        <md-input-container flex>
            <label>Titulo</label>
            <input ng-model="riskvariable.title" name="title" required>
            <div ng-messages="riskvariablesForm.title.$error" multiple ng-if='riskvariablesForm.title.$dirty'>
                <div ng-message="required">Este campo es requerido.</div>
            </div>

        </md-input-container>
    </div>
    <div layout layout-sm="column">
        <md-input-container flex>
            <label>Fenomeno</label>
            <md-select ng-model="riskvariable.phenomenon_id" name="phenomenon_id">
                <md-option ng-repeat="phenomena in phenomenas" value="{{phenomena.id}}">
                    {{phenomena.title}}
                </md-option>
            </md-select>
            <div ng-messages="riskvariablesForm.description.$error" multiple ng-if='riskvariablesForm.description.$dirty'>
                <div ng-message="required">Este campo es requerido.</div>
            </div>
        </md-input-container>
    </div>
    <div layout layout-sm="column">
        <md-input-container flex>
            <label>Descripcion</label>
            <input ng-model="riskvariable.description" name="description" required>
            <div ng-messages="riskvariablesForm.description.$error" multiple ng-if='riskvariablesForm.description.$dirty'>
                <div ng-message="required">Este campo es requerido.</div>
            </div>
        </md-input-container>
    </div>
    <div layout layout-sm="colum">
        <md-button class="md-raised btn-w-md md-primary" ng-disabled="!riskvariablesForm.$valid" ng-click="save()">
            Guardar
        </md-button>
        <div class="space"></div>
        <button ng-click="cancel()" class="md-raised btn-w-md md-warn md-button md-ink-ripple" type="button" aria-label="Cancelar">
            <span class="ng-scope">Cancelar</span>
            <div class="md-ripple-container"></div>
        </button>
    </div>
</form>