<div class="page">
    <div class="row ui-section">
        <div class="col-md-12">

            <div class="panel panel-default panel-labeled">
                <div class="panel-body">
                    <div class="page">

                        <div class="row ui-section">
                            <div class="col-lg-8 clearfix">
                                <h2 class="section-header">{{title}}</h2>
                                
                            </div>
                            
                            <div class="col-md-12">
                                
                                <div style="float:left; width:160px">
                                    
                                    <daypilot-navigator id="navigator" daypilot-config="navigatorConfig" daypilot-events="events"></daypilot-navigator>
                                </div>
                                <div style="margin-left: 160px">
                                    <md-select style="margin: 0px 0 5px;" id="user_id" name="user_id" ng-model="record_dimension.record_id" required="" class="ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" tabindex="0" aria-disabled="false" role="combobox" aria-expanded="false" aria-required="true" aria-invalid="true" aria-label="Registro"><md-select-value class="md-select-value md-select-placeholder" id="select_value_label_20"><span>Doctor</span><span class="md-select-icon" aria-hidden="true"></span></md-select-value></md-select>
                                   <daypilot-calendar id="calendar" daypilot-config="calendarConfig" daypilot-events="events" ></daypilot-calendar>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
 