<style>
    .tabsdemoDynamicHeight md-content {
        background-color: transparent !important;
    }

    .tabsdemoDynamicHeight md-content md-tabs {
        background: #f6f6f6;
        border: 1px solid #e1e1e1;
    }

    .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
        background: white;
    }

    .tabsdemoDynamicHeight md-content h1:first-child {
        margin-top: 0;
    }

    .fabSpeedDialdemoBasicUsage .text-capitalize {
        text-transform: capitalize;
    }

    .fabSpeedDialdemoBasicUsage .md-fab:hover,
    .fabSpeedDialdemoBasicUsage .md-fab.md-focused {
        background-color: #000 !important;
    }

    .fabSpeedDialdemoBasicUsage p.note {
        font-size: 1.2rem;
    }

    .fabSpeedDialdemoBasicUsage .lock-size {
        min-width: 300px;
        min-height: 300px;
        width: 300px;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    
    form-view .matrix-container .matrix .matrix-cell:first-child {
        width: 40% !important;
    }

    form-view .matrix-container .matrix .matrix-cell {
    }

    form-item .form-item-container {
        position: relative;
        padding-top: 30px;
        border-bottom: dotted 1px #222;
        margin-top: 20px;
    }

    form-item .form-item-container .form-item-actions {
        position: static;
        right: 20px;
        top: 0;
        float: right;
    }
    
    .radio-button-cell md-radio-button .md-container {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        box-sizing: border-box;
        display: inline-block;
        width: 20px;
        height: 20px;
        cursor: pointer;
        left: calc(50% - 10px);
        right: auto;
    }

    input-item {
        display: flex;
    }
    
    .form-item-actions md-input-container {
        display: inline-block;
        position: relative;
        padding: 2px;
        margin: 18px 0;
        vertical-align: middle;
        padding-bottom: 30px;
    }
    
    .builder-icon, form-item .form-item-container .md-button, form-item .option-item .md-button {
        min-height: 36px;
        min-width: 36px;
        height: 36px;
        width: inherit;
        margin-bottom: 30px;
    }
    
    form-view .matrix-container .matrix .matrix-cell {
        text-align: justify;
        overflow: hidden;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    form-view .matrix-container .matrix .matrix-cell.matrix-cell-header {
        text-align: center;
        overflow: hidden;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .formItem {
        border-bottom: dotted 1px #666666;
        padding-top: 30px;
    }

</style>

<div class="page">

    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">{{title}}</h2>
        </div>
        <div class="col-md-12">

            <section class="panel panel-default">
                <div class="panel-body no-padding">
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="Builder">
                            <md-content class="md-padding builder">
                                <form-item ng-repeat="item in vm.form.items track by $index" riskVars="vm.form.riskVars" type="{{item.type}}" item="item" index="$index" on-delete="vm.delete(item, index)"
                                           on-up="vm.up(item, index)" on-down="vm.down(item, index)"></form-item>
                            </md-content>
                        </md-tab>
                        <md-tab label="Preview">
                            <md-content class="md-padding">
                                <form name="myFrom">
                                    <form-view form="vm.form"></form-view>
                                </form>
                        </md-tab>
                        <md-tab label="Data">
                            <md-content class="md-padding">
                                <pre>{{vm.form| json}}</pre>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </div>
            </section>

        </div>
    </div>
</div>
<md-fab-speed-dial md-open="vm.isOpen" md-direction="up" class="md-fab-bottom-right md-scale">
    <md-fab-trigger>
        <md-button aria-label="..." class="md-fab md-warn"><i class="material-icons medium">add</i></md-button>
    </md-fab-trigger>
    <md-fab-actions>
        <md-button aria-label="..." class="md-fab md-raised md-mini" ng-click="vm.addItem('matrix')"><i class="material-icons">grid_on</i>
            <md-tooltip md-direction="left" md-autohide="">Matrix</md-tooltip>
        </md-button>
        <md-button aria-label="..." class="md-fab md-raised md-mini" ng-click="vm.addItem('textarea')"><i class="material-icons">keyboard</i>
            <md-tooltip md-direction="left" md-autohide="">Text-Area</md-tooltip>
        </md-button>
        <md-button aria-label="..." class="md-fab md-raised md-mini" ng-click="vm.addItem('input')"><i class="material-icons">text_format</i>
            <md-tooltip md-direction="left" md-autohide="">Text-Input</md-tooltip>
        </md-button>
        <md-button aria-label="..." class="md-fab md-raised md-mini" ng-click="vm.addItem('multipleChoices')"><i class="material-icons">radio_button_checked</i>
            <md-tooltip md-direction="left" md-autohide="">Radio-Buttons</md-tooltip>
        </md-button>
        <md-button aria-label="..." class="md-fab md-raised md-mini" ng-click="vm.addItem('checkboxes')"><i class="material-icons">check_box</i>
            <md-tooltip md-direction="left" md-autohide="">Checkboxes</md-tooltip>
        </md-button>
    </md-fab-actions>
</md-fab-speed-dial>
