<form name="PollItemForm">
    <div layout layout-sm="column">
        <md-input-container flex>
            <label>Titulo</label>
            <input required name="title" id="title" , ng-model="pollItem.title" md-maxlength="45">
              <div ng-messages="PollItemForm.title.$error" multiple ng-if="PollItemForm.title.$dirty">
                  <div ng-message="required">Este campo es requerido.</div>
             </div>
        </md-input-container>
    </div>

    <div layout layout-sm="column">
        <md-input-container flex>
            <label>Descripción</label>
            <textarea required name="description" id="description" columns="1" ng-model="pollItem.description" md-maxlength="45"></textarea>
             <div ng-messages="PollItemForm.description.$error" multiple ng-if="PollItemForm.description.$dirty">
                      <div ng-message="required">Este campo es requerido.</div>
             </div>            
        </md-input-container>
    </div>

    <div layout layout-sm="column">
        <md-input-container class="md-block">
            <label>Encuesta</label>
            <md-select ng-model="value">
                <md-option value="{{v.value}}" ng-repeat="v in optionsPoll">
                    {{v.text}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>



    <div layout layout-sm="column">
        <button ng-click="save()" ng-disabled="!PollItemForm.$valid" class="md-raised btn-w-md md-accent md-button md-ink-ripple" type="button" aria-label="Guardar">
                                                <span class="ng-scope">Guardar</span>
                                                <div class="md-ripple-container"></div>
                                                </button> &nbsp;&nbsp;&nbsp;
        <button ng-click="cancel()" class="md-raised btn-w-md md-warn md-button md-ink-ripple" type="button" aria-label="Cancelar">
                                                <span class="ng-scope">Cancelar</span>
                                                <div class="md-ripple-container"></div>
                                                </button>
    </div>
</form>