<style>
    .md-select-menu-container.md-active.md-clickable {
        z-index: 20000;
    }

    md-dialog-content {
        padding: 15px;
    }
</style>
<md-dialog aria-label="label">
    <md-dialog-content>
        <div layout layout-align="center center">
            <h4>{{ item.title }}</h4>
        </div>
        <div style="width: 500px;">



            <section class="panel panel-default panel-labeled">
                <div class="panel-body">
                    <uib-accordion close-others="!oneAtATime" class="ui-accordion">
                        <uib-accordion-group  ng-repeat="question in item.poll_questions" heading="{{ question.title }}" is-open="status.isFirstOpen"> 
                          <span ng-repeat="answer in question.poll_answers">
                          {{answer.title}}
                            <md-icon align="right">                          
                                <div  ng-if="answer.value == 2"   flex>
                                        <span class="badge badge-warning">{{ answer.value}}</span>
                                        </div>    
                
                                        <div  ng-if="answer.value == 1"   flex>
                                        <span class="badge badge-danger">{{ answer.value}}</span>
                                        </div>

                                        <div  ng-if="answer.value == 3"  flex>
                                        <span class="badge badge-success">{{ answer.value}}</span>
                                        </div>                                                     
                            </md-icon>
                          </span>
                          <uib-accordion close-others="!oneAtATime" class="ui-accordion">
                          <uib-accordion-group  ng-repeat="subquestion in question.poll_subquestions" heading="{{ subquestion.title }}" is-open="status.isFirstOpen1"> 
                          <span ng-repeat="subanswer in subquestion.poll_subquestions_answer">
                          {{subanswer.title}} 
                           <md-icon align="right">                          
                                <div  ng-if="subanswer.value == 2"   flex>
                                        <span class="badge badge-warning">{{ subanswer.value}}</span>
                                        </div>    
                
                                        <div  ng-if="subanswer.value == 1"   flex>
                                        <span class="badge badge-danger">{{ subanswer.value}}</span>
                                        </div>

                                        <div  ng-if="subanswer.value == 3"  flex>
                                        <span class="badge badge-success">{{ subanswer.value}}</span>
                                        </div>                                                         
                            </md-icon>
                          </span>
                          </uib-accordion-group> 
                          </uib-accordion>                     
                        </uib-accordion-group>
                        <uib-accordion-group heading="{{group.title}}" ng-repeat="group in groups">
                            {{group.content}}
                            </accordion-group>
                    </uib-accordion>
                    <span class="panel-label"> Preguntas: {{ item.poll_questions.length }}</span>
                </div>
            </section>




        </div>


    </md-dialog-content>
    <md-dialog-actions>

        <md-button ng-click="cancelViewQuestions()" class="md-raised btn-w-md md-warn md-button md-ink-ripple" type="button" aria-label="Cancelar">
            Cancelar
        </md-button>
    </md-dialog-actions>
</md-dialog>
<div>