<style>
    md-datepicker.md-default-theme,
    md-datepicker {
        background: rgba(255, 255, 255, .0);
    }
</style>

<form name="periodForm">

    <div layout layout-sm="column">
        <md-input-container flex="" class="flex">
            <label>Descripcion</label>
            <textarea ng-model="periods.description" columns="1" md-maxlength="150" required></textarea>
            <div ng-messages="periodForm.description.$error" multiple ng-if='periodForm.description.$dirty'>
                <div ng-message="required">Este campo es requerido.</div>
            </div>
        </md-input-container>

    </div>

    <div class="row">
        <div class="col-md-6">
            <p>Fecha inicial</p>
            <div class=""></div>
            <md-datepicker ng-model="periods.start_at" md-placeholder="Fecha Inicio" required flex="" class="flex">
                <div ng-messages="periodForm.start_at.$error" multiple ng-if='periodForm.start_at.$dirty'>
                    <div ng-message="required">Este campo es requerido.</div>

                </div>

            </md-datepicker>
        </div>
        <div class="col-md-6 ">
            <p>Fecha Final</p>
            <div class=""></div>
            <md-datepicker ng-model="periods.ends_at" md-placeholder="Fecha Final" required flex="" class="flex">
                <div ng-messages="periodForm.ends_at.$error" multiple ng-if='periodForm.ends_at.$dirty'>
                    <div ng-message="required">Este campo es requerido.</div>

                </div>

            </md-datepicker>

        </div>
    </div>

    <br>
    <br>
    <div layout layout-sm="column">
        <button class="md-raised btn-w-md md-accent md-button md-ink-ripple" ng-disabled="!periodForm.$valid" ng-click="save()"
         type="button" aria-label="Guardar">
            <span class="ng-scope">Guardar</span>
            <div class="md-ripple-container"></div>
            </button> &nbsp;&nbsp;&nbsp;
        <button class="md-raised btn-w-md md-warn md-button md-ink-ripple" ng-click="cancel()"
         type="button" aria-label="Cancelar">
            <span class="ng-scope">Cancelar</span>
            <div class="md-ripple-container"></div>
            </button>
    </div>



</form>
<!--
{{author.display_name}}
-->