<form name="pollAnswer" ng-controller="PollAnswersFormCtrl">
          <div layout layout-sm="column">
                <md-input-container flex>
                         <label>Titulo</label>
                         <input required name="title" id="title" ng-model="pollanswer.title" md-maxlength="45">
                         <div ng-messages="pollAnswer.title.$error" multiple ng-if="pollAnswer.title.$dirty">
                           <div ng-message="required">Este campo es requerido.</div>
                         </div>
               </md-input-container>
           </div>

            <div layout layout-sm="column">
                <md-input-container flex>
                          <label>Descripción</label>
                          <textarea required name="description" ng-model="pollanswer.description" md-maxlength="45"></textarea>
                          <div ng-messages="pollAnswer.description.$error" multiple ng-if="pollAnswer.description.$dirty">
                          <div ng-message="required">Este campo es requerido.</div>
                          </div>
                 </md-input-container>
            </div>
            <div layout layout-sm="column">
                   <md-input-container class="md-block" name="value" required ng-model="pollanswer.value">
                  <label>Valor</label>
                  <md-select ng-model="pollanswer.value">
                  <md-option value="{{v.value}}" ng-repeat="v in optionsValue">
                  {{v.text}}
                  </md-option>
                  </md-select>
                  <div ng-if="value == valor">
                  <div ng-messages="pollAnswer.value.$error" multiple ng-if="pollAnswer.value.$dirty">
                          <div ng-message="required">Este campo es requerido.</div>
                          </div>
                  </div>
                  </md-input-container>
                  </div>
  
            <div layout layout-sm="column">
                    <button ng-disabled="!pollAnswer.$valid" ng-click="save()" class="md-raised btn-w-md md-accent md-button md-ink-ripple" type="button" aria-label="Guardar">
                         <span class="ng-scope">Guardar</span>
                         <div class="md-ripple-container"></div>
                   </button> &nbsp;&nbsp;&nbsp;
                  
                   <button ng-click="cancel()" class="md-raised btn-w-md md-warn md-button md-ink-ripple" type="button" aria-label="Cancelar">
                          <span class="ng-scope">Cancelar</span>
                          <div class="md-ripple-container"></div>
                   </button>
             </div>
</form>
