<form name="CollaboratorGoalForm" ng-controller="AgendaCollaboratorFormCtrl">
<div layout layout-sm="column">
    <md-input-container class="md-block">
      <label>Usuario</label>
      <md-select id="user_id" name="user_id" ng-model="collaborator.user_id" required>
        <md-option value="1">
          <p>usuario1</p>
        </md-option>
      </md-select>
      <div ng-messages="CollaboratorGoalForm.user_id.$error">
        <div ng-message="required">Este campo es requerido.</div>
      </div>
    </md-input-container>
  </div><br>


      <div layout layout-sm="column">
    <md-input-container class="md-block">
      <label>Servicio</label>
      <md-select id="service_id" name="service_id" ng-model="collaborator.service_id" required>
        <md-option value="{{v.id}}" ng-repeat="v in services.data">
          {{v.title}}
        </md-option>
      </md-select>
      <div ng-messages="CollaboratorGoalForm.service_id.$error">
        <div ng-message="required">Este campo es requerido.</div>
      </div>
    </md-input-container>
  </div><br>


  <div layout layout-sm="column">
    <md-input-container class="md-block">
      <label>Periodo</label>
      <md-select id="period_id" name="period_id" ng-model="collaborator.period_id" required>
        <md-option value="{{v.id}}" ng-repeat="v in periods.data">
          {{v.description}}
        </md-option>
      </md-select>
      <div ng-messages="CollaboratorGoalForm.period_id.$error">
        <div ng-message="required">Este campo es requerido.</div>
      </div>
    </md-input-container>
  </div>


    <div layout layout-sm="column">
        <md-input-container flex>
            <label>Cumplimiento</label>
            <input type="number" ng-model="collaborator.fullfilment" required ></input>
            <div ng-messages="CollaboratorGoalForm.fullfilment.$error" multiple ng-if="CollaboratorGoalForm.fullfilment.$dirty">
                <div ng-message="required">Este campo es requerido.</div>
            </div>
        </md-input-container>
    </div>

    <div layout layout-sm="column">
        <md-input-container flex>
            <label>Eficacia</label>
            <input type="number" ng-model="collaborator.efficacy" required ></input>
            <div ng-messages="CollaboratorGoalForm.efficacy.$error" multiple ng-if="CollaboratorGoalForm.efficacy.$dirty">
                <div ng-message="required">Este campo es requerido.</div>
            </div>
        </md-input-container>
    </div>



    <div layout layout-sm="column">
        <button ng-disabled="!CollaboratorGoalForm.$valid" ng-click="save()" class="md-raised btn-w-md md-accent md-button md-ink-ripple"
            type="button" aria-label="Guardar">
                                                <span class="ng-scope">Guardar</span>
                                                <div class="md-ripple-container"></div>
                                                </button> &nbsp;&nbsp;&nbsp;
        <button ng-click="cancel()" class="md-raised btn-w-md md-warn md-button md-ink-ripple" type="button" aria-label="Cancelar">
                                                <span class="ng-scope">Cancelar</span>
                                                <div class="md-ripple-container"></div>
                                                </button>
    </div>
</form>