<form name="daysEdit" >
    <div layout layout-sm="column">
        <md-input-container flex>
            <label>Titulo</label>
            <input ng-model="days.title" name="display_name" required>
            <div ng-messages="daysEdit.display_name.$error" multiple ng-if='daysEdit.display_name.$dirty'>
                <div ng-message="required">Este campo es requerido.</div>
            </div>
        </md-input-container>
    </div>
    </div>
      <div layout layout-sm="colum">
            <md-button class="md-raised btn-w-md md-primary" ng-disabled="!daysEdit.$valid" ng-click="save()">Guardar</md-button>
            <div class="space"></div>
            <button ng-click="cancel()" class="md-raised btn-w-md md-warn md-button md-ink-ripple" type="button" aria-label="Cancelar">
                <span class="ng-scope">Cancelar</span>
                <div class="md-ripple-container"></div>
            </button>
          
      </div>
      


</form>
<!--
{{author.display_name}}
-->